[alias]
	s = status --short
	st = status
	ci = commit
	l = log --pretty=oneline --abbrev-commit
	co = checkout
	di = diff
	unstage = reset HEAD --
[user]
	name = Matt Gray
	email = rrazor@gmail.com
[http]
[color]
	diff = 1
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
