{
	"g" = {
		"g" = ("makeFirstResponder:", "mainOutline", "selectFirstMessageRow:");
		"l" = ("makeFirstResponder:", "mainOutline");
		"m" = "goToMailbox:";
		"u" = ("goToMailbox:", "EA2F402D-416F-41F6-83C2-F4A3923EB706", "makeFirstResponder:", "mainOutline");
		"a" = ("goToMailbox:", "C75D2B4A-8DE1-45FC-BE39-82F39DECC712", "makeFirstResponder:", "mainOutline", "selectFirstMessageRow:");
		"e" = ("goToMailbox:", "0299D0A7-E313-4B13-AF5F-BE0AC05DCCB4", "makeFirstResponder:", "mainOutline", "selectFirstMessageRow:");
		"i" = ("goToMailbox:", "INBOX", "makeFirstResponder:", "mainOutline", "selectFirstMessageRow:");
		"s" = ("goToMailbox:", "D92D6BF1-5455-4FDD-AFDD-F64366FD6487", "makeFirstResponder:", "mainOutline", "selectFirstMessageRow:");
	};

	"G" = ("makeFirstResponder:", "mainOutline", "selectLastMessageRow:");

	"n" = "newIMAPMailbox:";
	"s" = "moveToMailbox:";
	
	"j" = "selectNextMessageRow:";
	"k" = "selectPreviousMessageRow:";
	"^h" = ("makeFirstResponder:", "mailboxesOutline", "goToMailbox:", "INBOX", "selectPreviousMailboxRow:", "selectNextMailboxRow:");
	"^l" = ("makeFirstResponder:", "mainOutline");

	"^@e" = "toggleEncryption:";
	"^@E" = "toggleSigning:";
	"@\U000D" = "send:";
	"$\UF728" = "deleteMessage:";
	"$\U0008" = "deleteMessage:";
	"@k" = "mailboxSearch:";
	"/" = "mailboxSearch:";
}
